name: CI/CD Pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  image-build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    permissions:
      id-token: write   # required for OIDC
      contents: read
        
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and tag Docker image
        run: |
          docker build -t manga-bot .
          docker tag manga-bot:latest ghcr.io/${{ github.actor }}/manga-bot:${{ github.sha }}

      - name: Push Docker image
        run: docker push ghcr.io/${{ github.actor }}/manga-bot:${{ github.sha }}
